@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", "Geist", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: var(--background);
  @apply text-foreground;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --radius: 0.625rem;
  --background: hsl(0, 0%, 100%); /* purple-heart-50 */
  --foreground: hsl(261, 55%, 25%); /* purple-heart-900 */
  --card: hsl(265, 100%, 96%); /* purple-heart-50 */
  --card-foreground: hsl(261, 55%, 25%); /* purple-heart-900 */
  --popover: hsl(0, 0%, 100%); /* purple-heart-50 */
  --popover-foreground: hsl(261, 55%, 25%); /* purple-heart-900 */
  --primary: hsl(262, 100%, 71%); /* purple-heart-600 */
  --primary-foreground: hsl(0, 0%, 100%); /* purple-heart-50 */
  --secondary: hsl(265, 100%, 96%); /* purple-heart-100 */
  --secondary-foreground: hsl(261, 55%, 25%); /* purple-heart-900 */
  --muted: hsl(261, 100%, 93%); /* purple-heart-200 */
  --muted-foreground: hsl(260, 47%, 44%); /* purple-heart-800 */
  --accent: hsl(261, 100%, 93%); /* purple-heart-200 */
  --accent-foreground: hsl(261, 55%, 25%); /* purple-heart-900 */
  --destructive: hsl(0, 97%, 64%); /* Equivalente a oklch(0.577 0.245 27.325) */
  --border: hsl(259, 100%, 89%); /* purple-heart-300 */
  --input: hsl(259, 100%, 89%); /* purple-heart-300 */
  --ring: hsl(262, 100%, 71%); /* purple-heart-600 */
  --chart-1: hsl(262, 100%, 71%); /* purple-heart-600 */
  --chart-2: hsl(259, 100%, 85%); /* purple-heart-400 */
  --chart-3: hsl(259, 100%, 79%); /* purple-heart-500 */
  --chart-4: hsl(259, 100%, 89%); /* purple-heart-300 */
  --chart-5: hsl(261, 69%, 61%); /* purple-heart-700 */
  --sidebar: hsl(265, 100%, 96%); /* purple-heart-100 */
  --sidebar-foreground: hsl(261, 55%, 25%); /* purple-heart-900 */
  --sidebar-primary: hsl(262, 100%, 71%); /* purple-heart-600 */
  --sidebar-primary-foreground: hsl(0, 0%, 100%); /* purple-heart-50 */
  --sidebar-accent: hsl(261, 100%, 93%); /* purple-heart-200 */
  --sidebar-accent-foreground: hsl(261, 55%, 25%); /* purple-heart-900 */
  --sidebar-border: hsl(259, 100%, 89%); /* purple-heart-300 */
  --sidebar-ring: hsl(262, 100%, 71%); /* purple-heart-600 */
}

.dark {
  --background: hsl(260, 60%, 46%); /* purple-heart-900 */
  --foreground: hsl(261, 100%, 93%); /* purple-heart-50 */
  --card: hsl(261 55% 25%);  /* purple-heart-950 */
  --card-foreground: hsl(0, 0%, 100%); /* purple-heart-50 */
  --popover: hsl(261, 55%, 25%); /* purple-heart-900 */
  --popover-foreground: hsl(0, 0%, 100%); /* purple-heart-50 */
  --primary: hsl(259, 100%, 85%); /* purple-heart-400 */
  --primary-foreground: hsl(261 55% 25%);  /* purple-heart-950 */
  --secondary: hsl(261, 55%, 25%); /* purple-heart-900 */
  --secondary-foreground: hsl(0, 0%, 100%); /* purple-heart-50 */
  --muted: hsl(260, 47%, 44%); /* purple-heart-800 */
  --muted-foreground: hsl(261, 100%, 93%); /* purple-heart-200 */
  --accent: hsl(260, 47%, 44%); /* purple-heart-800 */
  --accent-foreground: hsl(0, 0%, 100%); /* purple-heart-50 */
  --destructive: hsl(0, 95%, 75%); /* Equivalente a oklch(0.577 0.245 27.325) */
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: hsl(259, 100%, 85%); /* purple-heart-400 */
  --chart-1: hsl(259, 100%, 85%); /* purple-heart-400 */
  --chart-2: hsl(259, 100%, 79%); /* purple-heart-500 */
  --chart-3: hsl(262, 100%, 71%); /* purple-heart-600 */
  --chart-4: hsl(259, 100%, 89%); /* purple-heart-300 */
  --chart-5: hsl(261, 100%, 93%); /* purple-heart-200 */
  --sidebar: hsl(261, 55%, 25%); /* purple-heart-900 */
  --sidebar-foreground: hsl(0, 0%, 100%); /* purple-heart-50 */
  --sidebar-primary: hsl(259, 100%, 85%); /* purple-heart-400 */
  --sidebar-primary-foreground: hsl(0, 0%, 100%); /* purple-heart-50 */
  --sidebar-accent: hsl(260, 47%, 44%); /* purple-heart-800 */
  --sidebar-accent-foreground: hsl(0, 0%, 100%); /* purple-heart-50 */
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: hsl(259, 100%, 85%); /* purple-heart-400 */
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}